.Battle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "RopaSans";
    padding: 20px;
  }
  
  .match-finder {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .language-selector {
    margin-bottom: 20px;
  }
  
  .language-selector label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .language-selector select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .loading {
    color: #2c2c2c;
    margin-bottom: 20px;
    text-align: center;  
    font-family: "RopaSans";
    font-size: x-large;
  }
  
  .find-match {
    text-align: center;
  }
  
  .find-match-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFCC00;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "RopaSans";
  }
  
  .find-match-button:hover {
    background-color: white;
    outline: 1px solid black;
    border-radius: 35px;
}

    .find-match-button:active {
    background-color: #E6E6E6;
    outline: 1px solid black;
    border-radius: 35px;
}
